@media(max-width: 880px) {
    .menu-desktop {
        display: none;
    }

    .menu-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-mobile {
        display: flex;
    }

    .toggle{
        display: none;
    }

}

@media (max-width: 479px) {
    
    .content {
        width: 95%;
    }

    .img-logo img {
        width: 100%;
    }

    .menu-desktop {
        display: none;
    }

    .menu-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-mobile {
        display: flex;
    }

    .toggle{
        display: none;
    }

    .site-content {
        width: 95%;
    }

    .post-item  {
        width: 100%;
        display: grid;
        justify-items: center;
        gap: 15px;
        grid-template-columns: repeat(1, 12fr);
        margin: 45px 0;
    }

    .cad-content {
        width: 90%;
    }
}


@media (min-width: 480px) AND (max-width: 767px) {

    .content {
        width: 90%;
    }

    .img-logo img {
        width: 100%;
    }

    .site-content {
        width: 80%;
    }

    .post-item  {
        width: 100%;
        display: grid;
        justify-items: center;
        gap: 15px;
        grid-template-columns: repeat(1, 12fr);
        margin: 45px 0;
    }

    .cad-content {
        width: 90%;
    }
}

@media (min-width: 768px) AND (max-width: 979px) {

    .content {
        width: 90%;
    }

    .img-logo {
        width: 20%;
    }

    .img-logo img {
        width: 100%;
    }

    .site-content {
        width: 90%;
    }

    .post-item  {
        width: 99%;
        display: grid;
        justify-items: center;
        gap: 15px;
        grid-template-columns: repeat(2, 6fr);
        margin: 45px 0;
    }

    .cad-content {
        width: 70%;
    }
}

@media (min-width: 980px) {

    .content {
        width: 90%;
    }

    .img-logo img {
        width: 50%;
    }

    .site-content {
        width: 80%;
    }

    .post-item  {
        width: 100%;
        display: grid;
        justify-items: center;
        gap: 15px;
        grid-template-columns: repeat(3, 4fr);
        margin: 45px 0;
    }

    .cad-content {
        width: 35%;
    }
}